.button
{
   text-align:center;
   padding: 1.3rem !important;  
   background-color:#DC4141 !important;
   color:white !important;
   font-size:18px !important;
   border-radius:15px !important;
}
h2{
   color:#DC4141;
   text-align:center;
}
.login-container{
   margin-top: 100px;
   text-align: center;
  
}